body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bread_crumb {
  margin: 30px 0;
}

.section_header{
  font-weight: 500;
  font-size: 30px;
  color: rgba(1, 1, 1, 1);
}

.header {
  h1 {
    font-size: 30px;
    font-weight: 600;
    color: #010101;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}