@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
.splash_loading{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        font-size: 48px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    .you{
        color: #2684E5;
    }
    .car{
        color: #010101;
    }
    animation: spin 1.4s ease infinite;
}

@keyframes spin {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}